.container {
  margin: 0;
  padding: 0;
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vw;
  max-width: 80vh;
  max-height: 80vh;
  justify-content: space-between;
  align-items: stretch;
}
