:host {
  background-color: tomato;
  padding: 5px 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.board-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  flex-shrink: 1;
}

.cell {
  flex: 1 1 auto;
}

.cell + .cell {
  padding-left: 10px;
}
