<div class="board-container">
  <div class="row" *ngFor="let row of board; let y = index">
    <app-board-cell
      class="cell"
      *ngFor="let cell of row; let x = index"
      [value]="cell"
      (shoot)="shoot.emit($event)"
    ></app-board-cell>
  </div>
</div>
